a {
  text-decoration: none;
}

a:visited {
  color: initial;
}

img {
  max-width: 90px;
  max-height: 90px;
}

.badges.mobile {
  display: none;
}

.official.mobile {
  display: none;
}

.universal.mobile {
  display: none;
}

.wrapper {
  border: 1px solid #e1eaf6;
  border-radius: 10px;
  padding: 12px 20px;
  position: relative;
  cursor: pointer;
  min-height: 158px;
}

.card {
  display: flex;
  gap: 20px;
  padding-right: 40px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  margin: 0;
}

.title img {
  margin-left: 8px;
  margin-bottom: -2px;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.price {
  position: absolute;
  top: 12px;
  right: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  color: #00a1b3;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5b6a7d;
}

.universal {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #333333;
}

.universal img {
  margin-bottom: -2px;
  margin-right: 4px;
}

.badges {
  display: flex;
  gap: 10px;
  margin: 12px 0;
  max-height: 24px;
}

.rating {
  padding: 0px 14px 3px 14px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  background-color: #e1eaf6;
}

.rating img {
  margin-bottom: -2px;
  margin-left: 2px;
}

.reviews {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  color: #5b6a7d;
}

.official {
  padding: 0px 14px 3px 14px;
  border-radius: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  background-color: #00a1b3;
}

.official img {
  margin-bottom: -3px;
  margin-right: 6px;
}

@media (max-width: 600px) {
  img {
    max-width: 60px;
    max-height: 60px;
  }

  .wrapper {
    padding: 20px 15px;
    min-height: 110px;
  }

  .title img {
    margin-left: 6px;
    margin-bottom: -2px;
  }

  .card {
    padding-right: 0;
  }

  .price {
    display: none;
  }

  .price.mobile {
    display: block;
    position: absolute;
    top: -2px;
    right: 0;
  }

  .description {
    display: none;
  }

  .universal {
    display: none;
  }

  .universal.mobile {
    display: block;
  }

  .badges {
    display: none;
  }

  .badges.mobile {
    display: flex;
    position: relative;
    padding-right: 10px;
  }

  .official {
    display: none;
  }

  .official.mobile {
    display: block;
    max-width: fit-content;
    max-height: 21px;
    margin-top: 10px;
  }
}
